.container {
	width: 100%;
	position: absolute;
	top: 70px;
}
#chart {
	width: 100%;
	height: 600px;
	margin-top: 30px;
}
.chartdiv {
	box-shadow: 10px 10px 5px #888888;
	margin-top: 20px;
}
#title{
    font-weight: bold;
    width: 80%;
    height: 40px;
    margin-top: 40px;
}
blockquote{
    border-color: #4a77a9;
}
blockquote p {
	font-size: 24px;
}
.btn {
	width: 100%;
	margin-top: 25px;
}