a
{
    color: #000000;
}

a:hover, a:focus
{
    color: #000000;
    text-decoration: none;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.pt-l
{
    float: left;
}

.pt-r
{
    float: right;
}



.live-left
{
    float: left;
    margin-left: 100px;
}

.live-left > li
{
    width: 80px;
    text-align: center;
}

ul.live-left > li > a:hover, .live-active > a
{
    color: #ffffff!important;
    background-color: #fd7400!important;
}

.live-caret
{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 0px;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;

    transition-property: border;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

/* 符号变化 */
a:hover .live-caret
{
    border-top: 0px;
    border-bottom: 4px dashed;
}




/* 显示框 */
.live-nav
{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.live-shadow
{
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.live-border
{
    border: 1px solid rgba(0, 0, 0, 0.26);
}

.live-border-radius
{
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
}

.list-wrap h4
{
    font-weight: bold;
}

ul.live-btns
{
    width: 270px;
    text-align: center;
    overflow: hidden;
}

ul.live-btns li
{
    float: left;
    padding: 0 10px 10px 0;
}

ul.live-btns li a
{
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    background-color: #f2f2f2;
}

.class-main
{
    width: 290px;
}

.class-main, .user-main
{
    padding: 15px;

    display: none;
    z-index: 100;
}

li:hover .class-main, .live-user-img:hover .user-main
{
    display: block;
    height: auto;
}

.live-show
{
    display: block;
    height: auto;
}


/* 登录后用户 */
.live-user
{
    position: relative;
    width: 152px;
    height: 50px;
    line-height: 50px;

    text-align: center;
}

.live-user-img
{
    display: inline-block;
}

.live-user .live-user-img > img
{
    height: 45px;
    width: 45px;
    border-radius: 100%;

    cursor: pointer;
}

.user-main
{
    width: 200px;
    line-height: 20px;
}

.user-main .user-pic img
{
    width: 79px;
    height: 79px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 100%;
}

.user-main .user-out
{
    position: absolute;
    display: inline-block;
    right: 15px;
    top: 15px;
}

.user-main .user-out a
{
    font-size: 16px;
}

.user-main .user-btns
{
    margin-top: 30px;
}




/* 侧边栏 */
.live-container
{
    margin-top: 51px;
}

.live-side
{
    width: 290px;
    position: fixed;
    top: 51px;
    bottom: 0;

    border-right: 1px solid #9E9E9E;
}

.live-side-scroll
{
    height: 100%;
    padding: 0 15px 0 15px;
}

.live-side-btns, .live-side-recommend
{
    margin-top: 30px;
}

.live-side-title
{
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
}

.live-side-title ul
{
    border-bottom: 3px solid #434343;
}

.live-side-title ul li
{
    width: 50%;
    color: #ffffff;
    text-align: center;
    background-color: #434343;
}

.live-side-recommend .list-wrap > div i
{
    margin-right: 5px;
    border-left: 3px solid #434343;
}

.live-side-recommend .list-wrap > div
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.live-body
{
    position: absolute;
    top: 51px;
    left: 290px;
}