<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.liveshow.dao.ApplicationMapper">
	<resultMap id="BaseResultMap" type="org.liveshow.entity.Application">
		<constructor>
			<idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
			<arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
			<arg column="real_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
			<arg column="idcard_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
			<arg column="telephone" jdbcType="VARCHAR" javaType="java.lang.String"/>
			<arg column="idcard_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
			<arg column="apply_time" jdbcType="INTEGER" javaType="java.lang.Integer"/>
			<arg column="pass_state" jdbcType="BIT" javaType="java.lang.Boolean"/>
			<arg column="look_state" jdbcType="BIT" javaType="java.lang.Boolean"/>
			<arg column="manager_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		</constructor>
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")"
									         separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")"
									         separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
    id, user_id, real_name, idcard_id, telephone, idcard_photo, apply_time, pass_state, 
    look_state, manager_id
  </sql>
	<select id="selectByExample" resultMap="BaseResultMap" parameterType="org.liveshow.entity.ApplicationExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List"/>
		from application
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from application
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from application
    where id = #{id,jdbcType=INTEGER}
  </delete>
	<delete id="deleteByExample" parameterType="org.liveshow.entity.ApplicationExample">
		delete from application
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
	</delete>
	<insert id="insert" parameterType="org.liveshow.entity.Application">
    insert into application (id, user_id, real_name, 
      idcard_id, telephone, idcard_photo, 
      apply_time, pass_state, look_state, 
      manager_id)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR}, 
      #{idcardId,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{idcardPhoto,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=INTEGER}, #{passState,jdbcType=BIT}, #{lookState,jdbcType=BIT}, 
      #{managerId,jdbcType=INTEGER})
  </insert>
	<insert id="insertSelective" parameterType="org.liveshow.entity.Application">
		insert into application
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="realName != null">
				real_name,
			</if>
			<if test="idcardId != null">
				idcard_id,
			</if>
			<if test="telephone != null">
				telephone,
			</if>
			<if test="idcardPhoto != null">
				idcard_photo,
			</if>
			<if test="applyTime != null">
				apply_time,
			</if>
			<if test="passState != null">
				pass_state,
			</if>
			<if test="lookState != null">
				look_state,
			</if>
			<if test="managerId != null">
				manager_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="realName != null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="idcardId != null">
				#{idcardId,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				#{telephone,jdbcType=VARCHAR},
			</if>
			<if test="idcardPhoto != null">
				#{idcardPhoto,jdbcType=VARCHAR},
			</if>
			<if test="applyTime != null">
				#{applyTime,jdbcType=INTEGER},
			</if>
			<if test="passState != null">
				#{passState,jdbcType=BIT},
			</if>
			<if test="lookState != null">
				#{lookState,jdbcType=BIT},
			</if>
			<if test="managerId != null">
				#{managerId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="org.liveshow.entity.ApplicationExample" resultType="java.lang.Integer">
		select count(*) from application
		<if test="_parameter != null">
			<include refid="Example_Where_Clause"/>
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update application
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.userId != null">
				user_id = #{record.userId,jdbcType=INTEGER},
			</if>
			<if test="record.realName != null">
				real_name = #{record.realName,jdbcType=VARCHAR},
			</if>
			<if test="record.idcardId != null">
				idcard_id = #{record.idcardId,jdbcType=VARCHAR},
			</if>
			<if test="record.telephone != null">
				telephone = #{record.telephone,jdbcType=VARCHAR},
			</if>
			<if test="record.idcardPhoto != null">
				idcard_photo = #{record.idcardPhoto,jdbcType=VARCHAR},
			</if>
			<if test="record.applyTime != null">
				apply_time = #{record.applyTime,jdbcType=INTEGER},
			</if>
			<if test="record.passState != null">
				pass_state = #{record.passState,jdbcType=BIT},
			</if>
			<if test="record.lookState != null">
				look_state = #{record.lookState,jdbcType=BIT},
			</if>
			<if test="record.managerId != null">
				manager_id = #{record.managerId,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause"/>
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update application
		set id = #{record.id,jdbcType=INTEGER},
		user_id = #{record.userId,jdbcType=INTEGER},
		real_name = #{record.realName,jdbcType=VARCHAR},
		idcard_id = #{record.idcardId,jdbcType=VARCHAR},
		telephone = #{record.telephone,jdbcType=VARCHAR},
		idcard_photo = #{record.idcardPhoto,jdbcType=VARCHAR},
		apply_time = #{record.applyTime,jdbcType=INTEGER},
		pass_state = #{record.passState,jdbcType=BIT},
		look_state = #{record.lookState,jdbcType=BIT},
		manager_id = #{record.managerId,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause"/>
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="org.liveshow.entity.Application">
		update application
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="realName != null">
				real_name = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="idcardId != null">
				idcard_id = #{idcardId,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>
			<if test="idcardPhoto != null">
				idcard_photo = #{idcardPhoto,jdbcType=VARCHAR},
			</if>
			<if test="applyTime != null">
				apply_time = #{applyTime,jdbcType=INTEGER},
			</if>
			<if test="passState != null">
				pass_state = #{passState,jdbcType=BIT},
			</if>
			<if test="lookState != null">
				look_state = #{lookState,jdbcType=BIT},
			</if>
			<if test="managerId != null">
				manager_id = #{managerId,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="org.liveshow.entity.Application">
    update application
    set user_id = #{userId,jdbcType=INTEGER},
      real_name = #{realName,jdbcType=VARCHAR},
      idcard_id = #{idcardId,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      idcard_photo = #{idcardPhoto,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=INTEGER},
      pass_state = #{passState,jdbcType=BIT},
      look_state = #{lookState,jdbcType=BIT},
      manager_id = #{managerId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
	<select id="selectPassStateByUserId" parameterType="java.lang.Integer" resultType="org.liveshow.entity.CombinationEntity.CardState">
		SELECT
		  	id "id",
			pass_state "idcardstate"
		FROM `application`
		WHERE user_id = #{userId}
		ORDER BY apply_time DESC;
	</select>

	<select id="selectByUserId" resultMap="BaseResultMap">
		SELECT *
		FROM application
		WHERE
			application.user_id = #{userId}
		ORDER BY apply_time DESC
	</select>

	<resultMap id="ApplicationInfos" type="org.liveshow.entity.CombinationEntity.ApplicationInfo">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="realName" column="real_name"/>
		<result property="idcardId" column="idcard_id"/>
		<result property="idcardPhoto" column="idcard_photo"/>
		<result property="applyTime" column="apply_time"/>
		<result property="nickName" column="nick_name"/>
	</resultMap>

	<select id="selectApplication" resultMap="ApplicationInfos">
		SELECT a.id AS id, a.user_id AS user_id, a.real_name AS real_name, a.idcard_id AS idcard_id, a.idcard_photo AS idcard_photo, a.apply_time AS apply_time, b.nick_name AS nick_name
		FROM application AS a, USER AS b
		WHERE a.pass_state IS NULL AND a.user_id = b.id AND a.apply_time &lt; #{endTime} AND a.apply_time &gt; #{startTime} ORDER BY apply_time;
	</select>

	<update id="updateApplicationInfo">
		UPDATE application SET pass_state = #{passState}, manager_id = #{managerId} WHERE id = #{id};
	</update>
</mapper>
